servicios_web/QASoftware/informes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/informes/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="informes" targetNamespace="http://www.example.org/informes/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/informes/">
      <xsd:element name="generarInforme">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="idInforme" type="xsd:int" />
          	<xsd:element name="prioridad" type="xsd:string"></xsd:element>
          	<xsd:element name="error" type="xsd:boolean"></xsd:element>
          	<xsd:element name="descripcionError" type="xsd:string"></xsd:element>
          	<xsd:element name="departamento" type="xsd:string"></xsd:element>
          	<xsd:element name="categoria" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="generarInformeResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="idInforme" type="xsd:int" />
          	<xsd:element name="posicionCola" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="generarInformeRequest">
    <wsdl:part element="tns:generarInforme" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="generarInformeResponse">
    <wsdl:part element="tns:generarInformeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="informes">
    <wsdl:operation name="generarInforme">
      <wsdl:input message="tns:generarInformeRequest"/>
      <wsdl:output message="tns:generarInformeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="informesSOAP" type="tns:informes">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="generarInforme">
  		<soap:operation
  			soapAction="http://www.example.org/informes/generarInforme" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="informes">
    <wsdl:port binding="tns:informesSOAP" name="informesSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
