servicios_web/QASoftware/tests.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/tests/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="tests" targetNamespace="http://www.example.org/tests/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/tests/">
      <xsd:element name="ejecutarTests">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="idPeticion" type="xsd:int" />

          	<xsd:element name="descripcion" type="xsd:string"></xsd:element>
          	<xsd:element name="categoria" type="xsd:string"></xsd:element>
          	<xsd:element name="lenguaje" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ejecutarTestsResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="idTest" type="xsd:int"></xsd:element>
          	<xsd:element name="completado" type="xsd:boolean"></xsd:element>
          	<xsd:element name="porcentajeCompletado" type="xsd:int"></xsd:element>
          	<xsd:element name="error" type="xsd:boolean"></xsd:element>
          	<xsd:element name="descripcionError" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ejecutarTestsRequest">
    <wsdl:part element="tns:ejecutarTests" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ejecutarTestsResponse">
    <wsdl:part element="tns:ejecutarTestsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="tests">
    <wsdl:operation name="ejecutarTests">
      <wsdl:input message="tns:ejecutarTestsRequest"/>
      <wsdl:output message="tns:ejecutarTestsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="testsSOAP" type="tns:tests">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="ejecutarTests">
  		<soap:operation
  			soapAction="http://www.example.org/tests/ejecutarTests" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tests">
    <wsdl:port binding="tns:testsSOAP" name="testsSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
